{% extends "base.html" %}

{% block css %}{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/swfobject.js"></script>
{% endblock %}

{% block content %}
    <div id="live"></div>
    <script type="text/javascript">
        if (/(iPhone|iPod|iPad|Android)/.test(navigator.userAgent) ||
                (/(Safari)/.test(navigator.userAgent) && /(Macintosh)/.test(navigator.userAgent))) {
            var live = document.getElementById("live");
            live.innerHTML = '<video controls width="480" height="300">' +
                    '<source src="{{ video_source }}hls/index.m3u8" type="application/vnd.apple.mpegurl">' +
                    '</video>';
        } else {
            var flashvars = {
                src: "{{ video_source }}live/video/manifest.f4m",
                autoPlay: true
            };
            var paramObj = {
                allowScriptAccess: "always",
                allowFullScreen: "true",
                allowNetworking: "all"
            };
            swfobject.embedSWF(
                    "{{ STATIC_URL }}swf/StrobeMediaPlayback.swf", "live", 480, 300, "10.3",
                    "{{ STATIC_URL }}swf/expressInstall.swf", flashvars, paramObj, {
                        name: "StrobeMediaPlayback"
                    }
            );
        }

    </script>
{% endblock %}