{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/photo.css">
{% endblock %}

{% block content %}
    <table class="photo">
        <tr>
            <td class="header">Автор:</td>
            <td>{{ photo.author }}</td>
        </tr>
        <tr>
            <td class="header">Название:</td>
            <td>{{ photo.title }}</td>
        </tr>
    </table>
    <table class="photo">
        <tr>
            <td class="vote">Голосов за фото: <strong>{{ photo.vote_set.all.count }}</strong></td>
            <td class="vote">
                {% if vote_available %}
                    <a href="{% url "vote" photo.id %}">Голосовать!</a>
                {% else %}
                    Спасибо за ваш голос.
                {% endif %}
            </td>
        </tr>
    </table>
    <div class="photo">
        <img src="/normal/{{ photo.photo }}">
        <span>(<a href="{{ MEDIA_URL }}{{ photo.photo }}" target="_blank">открыть оригинал</a>)</span>
    </div>
{% endblock %}